<html>
    <head>
        <style></style>
    </head>

    <body>
        <p>Hi {{name}}</p>
        <p>Welcome to our social network platform.</p>
        <p>Please, click the link below to activate your account</p>
        <a href="{{link}}">Activate your account</a>
        <p>After the link expires in an hour, feel free to register again</p>
    </body>
</html>