<html>

<head>
    <style></style>
</head>

<body>
    <p>Hi {{name}}</p>
    <p>You requested to change your password</p>
    <p>Please, click the link below to reset your password</p>
    <a href="https://{{link}}">Reset your password</a>
    <p>After the link expires in an hour, feel free to request again.</p>
    <p>Our Team</p>
</body>

</html>