<html>

<head>
    <style></style>
</head>

<body>
    <p>Hi {{name}}</p>
    <p>Your request to reset the password was successful</p>
    <p>You can login to your account with your new password</p>
    <p>Our Team.</p>
</body>

</html>